h1 {
	margin-top: 2em;
}

section {
	margin-left: 1.5em;
}

ul {
	padding-left: 1.5em;
}

.follow-link {
	display: block;
	border: solid black 1px;
	border-radius: 8px;
	padding: 8px;
	width: 10em;
	overflow-wrap: break-word;
	margin: 2px 5px;
}

.comment-link {
	display: block;
	border: solid black 1px;
	border-radius: 8px;
	padding: 8px;
	width: 50em;
	overflow-wrap: break-word;
	margin: 2px 5px;
}
