/* .create-deck-container{
  border: 1px solid #ddd;
  min-width: 20%;
} */

.create-deck-container {
text-align: center;
}
.create-deck-header {
	font-size: 24px;
	color: #035096
}

.create-deck-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-deck-form input, .create-deck-form textarea{
  background: none;
	font-weight: 600;
	width: 260px;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  outline: none;
	border: 1px solid black;
  border-bottom: 2px solid black; 
  display: block;
}

#create-deck-description {
	width: 400px;
	height: 100px;
}

.create-deck-form input:focus, .create-deck-form textarea{
	border: 1px solid blue;
  border-bottom: 2px solid blue; 
}

.create-deck-form button{
  width: 200px;
  text-align: left;
}