.deck-select-container{
	padding: 0 20px;
  /* border: 1px solid #ddd; */
  min-width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.select-deck-header {
	font-size: 24px;
	color: #035096
}

.select-deck-info {
	display: flex;
	gap: 20px;
	color:#035096;
	font-size: 18px;
	font-weight: 600;
}

.deck-select-container select{
  min-width: 80%;
}

.select-container{
	display: flex;
}

.delete-button-userdeck{
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width:30%;
	padding: 10px 18px;
	letter-spacing: 1px;
}

.delete-button-userdeck:after{
	background-color: rgb(243, 102, 102);
}

.delete-button-userdeck:hover:after{
	background-color: red;
}