.deck-select-container{
	padding: 0 20px;
  border: 1px solid #ddd;
  min-width: 20%;
}

.deck-select-container select{
  min-width: 80%;
}

.select-container{
	display: flex;
}

.delete-button-userdeck{
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:30%;
	padding: 10px 18px;
}

.delete-button-userdeck:hover {
  background-color: darkred;
}