.register-form-container {
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: 400px;
  width: 30%;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  top: 90px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.register-form-container h1 {
  font-weight: 500;
  color: black;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.register-form-container a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}

.register-form-container a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

.register-form-container a:active {
  text-shadow: none;
}

.register-form-container input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.register-form-container input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.register-form-container input[type="Username"]:focus,
.register-form-container input[type="Password"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.register-form-container input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

.register-form-container input[type="button"]:hover {
  cursor: pointer;
}

.register-form-container input[type="button"]:active {
  background: rgba(255, 255, 255, 0.2);
}

.register-pokemon {
  height: 335px;
}