/* Cards.jsx */
/* .search-bar-cards {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-bar-cards input {
    width: 50%;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    font-size: 16px;
}

.search-bar-cards input:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 8px rgba(77, 144, 254, 0.3);
} */

html{
  font-family: "Roboto","Arial",sans-serif;
}

.cards-container-cards {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    max-height: 80vh;
    border: 2px solid #dfe1e5;
    justify-content: center;
}

.card-cards {
    margin: 10px;
}

.card-cards img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 150px;
}
.add-button-cards{
  background-color: green;
  opacity: 0.8;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px; 
  right: 10px;
}
.add-button-cards:hover {
  background-color: darkgreen;
}

.filter-bar-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Home Page Styling */
body {
  background-color: #c3dbfa;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* NAV BAR */
.navbar {
  display: flex;
 justify-content: center;
}

/* USER DECK STYLING (DECK BUILDER)  */

.user-deck-container {
  display: flex;
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid #dfe1e5;
  align-items: center;
}

.deck-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.card-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: grid;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-image {
  width: 100px;
  height: auto;
}


.user-deck-nav{
  display: flex;
  justify-content: center;
  gap:10px;
}

.deck-select-container{
  border: 1px solid #ddd;
  min-width: 20%;
}

.deck-select-container select{
  min-width: 80%;
}
.deck-add-container{
  border: 1px solid #ddd;
  min-width: 20%;
}

.delete-button-userdeck{
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:20%;
}

.delete-button-userdeck:hover {
  background-color: darkred;
}

.create-deck-form input{
  border: none;
  background: none;
  padding: 0;
  margin: 10px 0px;
  outline: none;
  border-bottom: 1px solid black; 
  display: block;
  width: 100%;
}

.create-deck-form input:focus{
  border-bottom: 2px solid blue; 
}

.create-deck-form button{
  width: 100%;
  text-align: left;
}

.select-container{
  display: flex;
}


.flex-wrap {
  flex-wrap: wrap;
}

.deck-viewer {
  font-size: 30px;
  width: 100px;
  border-radius: 10px;
  background: linear-gradient(to right,#ff0000,#035096, #c3dbfa, #035096);
  /* box-shadow: 3px 3px 3px #fffb00; */
}


/* CSS */
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #fffb00;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "pokemon solid";
  text-shadow: 3px 3px 5px #035096;
  -webkit-text-stroke: 2px #035096;
  letter-spacing: 2.5px;
  margin-right: 10px;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 30s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

form input {
  margin: 20px;
  background-color: white;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  color: #035096;
  border: 2px solid #035096;
}

.audio-player {
  font-size: larger;
  color: #002bff;
  background-color: whitesmoke;
  border-radius: 50px;
}
.audio-container {
  width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1000px;
}

.audio-container:after {
  background: none;
}

.navbar button::before {
  background: linear-gradient(45deg, #035096,#035096);
  animation: glowing-button-85 5s linear infinite;
  transition: opacity .3s ease-in-out;
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid #035096;
  
}






