/* Cards.jsx */
.search-bar-cards {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-bar-cards input {
    width: 50%;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    font-size: 16px;
}

.search-bar-cards input:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 8px rgba(77, 144, 254, 0.3);
}

.cards-container-cards {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    max-height: 80vh;
    border: 2px solid #dfe1e5;
    justify-content: center;
}

.card-cards {
    margin: 10px;
}

.card-cards img {
    max-width: 100%;
    height: auto;
    display: block;
}
.add-button-cards{
  background-color: green;
  opacity: 0.8;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px; 
  right: 10px;
}
.add-button-cards:hover {
  background-color: darkgreen;
}

.filter-bar-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Home Page Styling */
body {
  background-color: #c3dbfa;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* NAV BAR */
.navbar {
  display: flex;
 justify-content: center;

}
/* header styling  */
.header {
  font-family: 'pokemon solid';
  letter-spacing: 2px;
  font-size: 3em;
  color: #FFD500;
  text-align: center;
  text-shadow: 3px 3px 5px #035096;
  -webkit-text-stroke: 2px #035096;
  transform: translateY(-50px);
  transition: transform 3s ease;
}
/* FONT IMPORT  */
@font-face{
  font-family: 'pokemon solid';
  src: url('../../fonts/Pokemon\ Solid.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Forest Background Styles */
.forest-background {
  background: url('/images/forest-backround.jpg') center/cover fixed;
  height: 100vh; 
  position: relative;
  opacity: 0;
  transition: opacity 1s ease;
}

.portal-enter {
  opacity: 1; /* Fade in the background */
}

.header-enter {
  transform: translateY(0); /* Move the header down to its original position */
}

/* HERO SECTION STYLES */
.hero-section {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  opacity: 0; 
  transform: translateX(-100%); /* Start on the left */
  animation: slideIn 1s ease-in-out 1s forwards; 
 position: relative;
}

@keyframes slideIn {
  to {
    opacity: 1; 
    transform: translateX(0); /* Slide in from left to right */
  }
}
.hero-section h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: 'pokemon solid';
  color: #FFD500;
  -webkit-text-stroke: 2px #035096;

}

.hero-section p {
  margin-bottom: 10px;
}

 img {
  border-radius: 10px;
}

/* POKEMON SCROLLBAR  */

.trainer-section {
  display: flex;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  bottom: .4rem;
  max-width: 1200px;
}

.trainer-image {
  width: 100x;
  height: auto;
}
/* TRY NOW BUTTON */
.try-now-button {
  background-color: #f8f8f8;
  color: #333;
  padding: 10px 20px;
  border: 2px solid #035096;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

.try-now-button:hover {
  background-color: #E3350D;
  color: #fff;
}


.pokemon-deck {
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  width: 100%;
}

.pokemon-image {
  width: 100x;
  height: auto;
  margin-bottom: 1rem;
}

/* Cloud header  */

.cloud-image {
  position: fixed;
  top: 3px; 
  left: 20%; 
  transform: translateX(-50%); 
  width: 50%; 
  height: 80px; 
  z-index: -1;  
}

.cloud-image2 {
  position: fixed;
  top: 3px;
  left: 70%; 
  transform: translateX(-50%); 
  width: 50%; 
  height: 80px; 
  z-index: -1;  
}
/* JOIN THE COMMUNITY STYLING */
.community-section {
  position: absolute;
  top: 0;
  left: 1500px;
  bottom: 0;
  width: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 20px;
}

.community-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
  
}

.community-text {
  text-align: center;
  margin-top: 0;
}

.community-text h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-family: 'pokemon solid';
  letter-spacing: 2px;
  color: #FFD500;
  text-align: center;
  text-shadow: 3px 3px 5px #035096;
  -webkit-text-stroke: 2px #035096;
}

/* USER DECK STYLING (DECK BUILDER)  */

.user-deck-container {
  display: flex;
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid #dfe1e5;
  justify-content: center;
  align-items: center;
}

.deck-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.card-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: grid;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-image {
  width: 100px;
  height: auto;
}


.user-deck-nav{
  display: flex;
  justify-content: center;
  gap:10px;
}

.deck-select-container{
  border: 1px solid #ddd;
  min-width: 20%;
}

.deck-select-container select{
  min-width: 80%;
}
.deck-add-container{
  border: 1px solid #ddd;
  min-width: 20%;
}

.delete-button-userdeck{
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:20%;
}

.delete-button-userdeck:hover {
  background-color: darkred;
}

.create-deck-form input{
  border: none;
  background: none;
  padding: 0;
  margin: 10px 0px;
  outline: none;
  border-bottom: 1px solid black; 
  display: block;
  width: 100%;
}

.create-deck-form input:focus{
  border-bottom: 2px solid blue; 
}

.create-deck-form button{
  width: 100%;
  text-align: left;
}

.select-container{
  display: flex;
}

/* LOADING SCREEN STYLING */

.bounce-in-top{
  animation:bounce-in-top 1.1s both;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}


/* EXPLORE PAGE STYLING  */


.explore-background{
  background: linear-gradient(
    to right,
     #c3dbfa 0%,
     #c3dbfa 50%,  
     #035096 50%,
     yellow 100%
     );
}

.sticky-image {
  position: sticky;
  bottom: 0;
  height: 70vh;
  justify-content: flex-end;
  display: flex;
  animation: bounce-in-right 1.1s both;
}

@keyframes bounce-in-right {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

.thought-bubble {
  position: absolute;
  left: 50%;
  background:url("/images/thought-bubble.png") center/cover;
  height: 33vh;
  width: 20%;
  text-align: center;
  padding-top: 10px;
  font-family: "pokemon solid";

}

.more-info {
  position: absolute;
  height:40em;
  border:rgba( 195, 219, 250, 0.7 ) 5px solid ;
  width: 49%;
  top: 3030px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.prepare-img {
  width: 300px;
  height: 300px;
  box-shadow: 5px 10px 5px;
}

.prepare {
  position: relative;
  background:rgba( 3, 80, 150, 0.7 );
  height: 65%;
  text-align: center;
  z-index: 1;
  border-radius: 42px;
  padding: 10px;
}

.prepare-unite {
  position: relative;
  background: rgba(255, 0, 0, 0.8);
  height: 65%;
  text-align: center;
  z-index: 1;
  border-radius: 50px;
  padding: 10px;
}



.explore-container {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

/* Heading styles */
.explore-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "pokemon solid";
  letter-spacing: 2px;
  color: #FFD500;
  text-shadow: 3px 3px 5px #035096;
  -webkit-text-stroke: 2px #035096;
  border: solid 5px white;
  background-color: white;
}

/* Deck item styles (EXPLORE PAGE) */
.deck-container {
  position: relative;
  margin-bottom: 20px;
  z-index: 2;
}

.deck-item {
  position: relative;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-bottom: 10px;
}

.deck-item strong {
  
  font-family: "pokemon solid";
  letter-spacing: 2px;
  font-size: 1.7em;
  color: #FFD500;
  text-align: center;
  text-shadow: 3px 3px 5px #035096;
  -webkit-text-stroke: 2px #035096;
}

.deck-item p {
  margin: 0;
  color: #666;
}

.deck-item:hover .user-deck-container  {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
}

.deck-info {
  position: absolute;
  top: 0;
  left: 0;
   background: rgba(255, 0, 0, 0.8);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  border-radius: 8px;
}

.user-deck-container2 {
  position: absolute;
  top: .5%;
  left: -20%;
  transform: translateX(-50%);
  width: 300px;
  height: 245px;
  padding: 10px;
  text-align: center;
  z-index: -1;
  border-radius: 8px;
  animation: slide-right 0.5s both;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid #dfe1e5;
  justify-content: center;
  align-items: center;
}

/* Card container styles */


.card-container2 {
  display: inline-block;
  margin: 5px;
  animation: slide-right 0.5s both;
  width: 300px;
  z-index: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: grid;
  justify-content: space-between;
  margin-bottom: 10px;
}


.card-image2 {
  width: 192px;
  height: 262px;
  z-index: -1;
}



@keyframes slide-right {
  0% {
    transform: translateX(0); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Slide to the right */
  }
}


/* Small screens (up to 768px) */
@media screen and (max-width: 768px) {
  .header {
    font-size: 2em;
  }

  .hero-section {
    padding: 10px;
  }

  .hero-section h1 {
    font-size: 1.5em;
  }

  /* Adjustments for trainer section on small screens */
  .trainer-section {
    flex-direction: row;
    align-items: center;
    bottom:-32rem;
    background-color: white;
    border-radius: 8px;
  }

  .trainer-image {
    width: 100%;
    height: auto;
  }

  /* Adjustments for try-now-button on small screens */
  .try-now-button {
    font-size: 1em;
    margin-top: 10px;
  }

  /* Adjustments for pokemon-deck on small screens */
  .pokemon-deck {
    max-height: 300px;
    margin-left: 0;
  }

  .pokemon-image {
    width: 75%;
    margin-bottom: 0.5rem;
  }


  .community-section {
    bottom:-400px;
    left: 25rem;
    width:70%;
    max-height: 322px;
  }

  .community-image {
    max-width: 350px;
  }
}



/* Medium screens (769px to 1600px) */
@media screen and (min-width: 769px) and (max-width: 1600px)  {
  .header {
    font-size: 2.5em;
  }

  .hero-section h1 {
    font-size: 2em;
    margin-left: 200px;
  }

  .pokeball {
    margin-left: 200px;
  }

  .hero-text {
    margin-left: 200px;
  }

  .community-section {
    left: 76rem;
  }

  .community-image {
    max-width: 300px;
  }

  

  

  

}







