
html{
  font-family: "Roboto","Arial",sans-serif;
}

/* Splash Page Styling */
body {
  background-color: #c3dbfa;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* USER DECK STYLING (DECK BUILDER and EXPLORE)  */

.user-deck-container {
  display: flex;
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid #dfe1e5;
  align-items: center;
}

.card-container {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 10px;
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
}

.card-container > * {
	margin: auto;
}

.card-image {
  width: 120px;
  height: auto;
}

/* Deck Builder Nav */
.user-deck-nav{
  display: flex;
  justify-content: center;
  gap:10px;
}

/* CSS */
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #fffb00;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 3px 5px #035096;
  -webkit-text-stroke: 1.3px #035096;
  letter-spacing: 2.5px;
  margin-right: 10px;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 30s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

button:hover {
	text-shadow: 5px 5px 5px #035096;
	box-shadow: 0 4px 2px 2px #6fb2f1;
}

form input, form textarea {
  margin: 20px;
  background-color: white;
  /* max-width: 190px; */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  color: #035096;
  border: 2px solid #035096;
}






